#from urllib import quote
#from Plugins.Extensions.ModernWebif.local import tstrings
<div id="content_main" style="min-height: 500px;">
	<div id="tvcontentmain">
		<div id="toolbar-header">
			<span id="toolbar">
		#set $path=''
		<span id="moviebuttons">
			<button onclick="load_maincontent_spin('ajax/movies?dirname=/'); return false">$tstrings['Root']</button>
			#for $dir in $directory[0:-1].split("/")[1:-1]
				#set $path += '/' + $dir
				<button onclick="load_maincontent_spin('ajax/movies?dirname='+escape('$path'));">$dir</button>
			#end for
			#if $directory != '/'
				<button><span style="color: red; font-weight: bold;">
					#echo $directory[0:-1].split("/")[-1]
				</span></button>
			#end if
		</span>

		#if $len($bookmarks)
			<select name="directory" onChange="load_maincontent_spin('ajax/movies?dirname='+escape(options[selectedIndex].value)); return false;">
			<option>Subdirs:</option>
			#for $bookmark in $bookmarks
				<option value="$directory$bookmark">$bookmark</option>
			#end for
			</select>
		#end if
		</span>
		</div>

		<div id="movies">
		#set $count = 0
		#for $movie in $movies
			<div class="tm_row" id="$count">
				<div class="tm_text">
					#if $movie.eventname != ""
						<div class="title">
							$movie.eventname
						</div>
						<div>
              <strong>$movie.servicename</strong>
              <br />
              $movie.begintime ($movie.length min.)<br />
              #set $w = $movie.lastseen
              #if $w > 0
                <div class="mlp"><div class="mlpp" style="width:$w%"></div></div>
              #end if
							<span style="color: #7F8181; font-weight: bold;">$movie.description</span>
						</div>
						<div>
							<span style="color: #7F8181;">$movie.descriptionExtended</span>
						</div>
					#else
            <div class="title">
							$movie.filename
						</div>
            #set $w = $movie.lastseen
            #if $w > 0
              <div class="mlp"><div class="mlpp" style="width:$w%"></div></div>
            #end if
					#end if
				</div>
				<div class="tm_buttons">
						<div>
						<a href='#' onClick="playRecording('$quote($movie.serviceref)');" title="$tstrings['playback']"><i class="fa fa-play"></i></a>
						#if $transcoding
						<a href="#" onclick="jumper80('$quote($movie.filename)');" title="$tstrings['stream']: $movie.eventname"><i class="fa fa-desktop smaller"></i></a>
						<a href="#" onclick="jumper8003('$quote($movie.filename)');" title="$tstrings['stream'] ($tstrings['transcoded']): $movie.eventname"><i class="fa fa-mobile"></i></a>
						#else
						<a target="_blank" href='web/ts.m3u?file=$quote($movie.filename)' title="$tstrings['stream'] $movie.eventname"><i class="fa fa-desktop smaller"></i></a>
						#end if
						#set $eventname_escaped =  $movie.eventname.replace("'", r"\'")
						<a href='/file?action=download&file=$quote($movie.filename)' title="$tstrings['download'] $movie.eventname"><i class="fa fa-download"></i></a>
						<a href='#' onClick="renameMovie('$quote($movie.serviceref)','$eventname_escaped');" title="$tstrings['rename_recording']"><i class="fa fa-pencil"></i></a>
						<a href='#' onClick="deleteMovie('$quote($movie.serviceref)', '$count', '$eventname_escaped'); return false;" title="$tstrings['delete_recording']"><i class="fa fa-times"></i></a>

						</div>
						</div>
				<div style="clear: both;"></div>
				#set $count += 1
			</div>
		#end for
		</div>
	</div>
</div>

<script type="text/javascript">
\$('#moviebuttons').buttonset();
</script>
