#from urllib import quote
#from Plugins.Extensions.ModernWebif.local import tstrings
#from json import dumps
#from Plugins.Extensions.ModernWebif.controllers.views.ajax.renderevtblock import renderEvtBlock

<!doctype html5>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="../images/favicon.png">
<link type="text/css" href="../css/jquery-ui-1.8.18.custom.css" rel="stylesheet" />	
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<script type="text/javascript" src="../js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script type="text/javascript" src="../js/jquery.fixedheadertable.min.js"></script>
<script type="text/javascript">initJsTranslation($dumps($tstrings))</script>

<title>ModernWebif $tstrings['multi_epg']</title>
</head>

<body>

<div id="tvcontent">
<table style="margin:0">
<tr>
#for $slot in range(0,7)
	<td class="plus #if $slot==$day then 'selected' else '' #" js:day="$(slot)">$tstrings[("day_" + (time.strftime("%w", time.localtime(time.time()+86400*slot))))]</td>
#end for
</tr>
</table>

<table>
<tr>
#for $bq in $bouquets
<td class="bq #if $bq[0]==$bref then 'selected' else '' #" js:ref="$quote($bq[0])">$bq[1]</td>
#end for
</tr>
</table>

#set $renderEventBlock = $renderEvtBlock()
<table cellpadding="0" cellspacing="0" id="TBL1">
#block channelsInBouquet
<thead>
<tr>
	#for $sname, $eventlist in $events.iteritems()
	<th class="border"><div class="service"><img src="$(picons[$sname])" /> $sname</div></th>
	#end for
</tr>
</thead>
#end block
<tbody>
	#set hasEvents = False
	#for $slot in range(0,12)
<tr class="$(slot%2 and 'odd' or 'even')">
	#for $sname, $eventlist in $events.iteritems()
<td class="border">
	#for $event in $eventlist[$slot]
		$renderEventBlock.render($event)
		#set hasEvents = True
	#end for
</td>
	#end for
</tr>
	#end for
</tbody>
</table>
</div>
<div id="eventdescription"></div>
<div id="atdialog">
<div id="toolbar-header" class="athandle" style="height:30px;cursor:move">
<div id="leftmenu_expander_main" class="leftmenu_icon leftmenu_icon_collapse" onclick="\$('#atdialog').hide(200)"></div>
</div>
<div id="content_container"></div></div>
#if $reloadtimer==1
<div id="editTimerForm" title="$tstrings['edit_timer']"></div>
#end if

<script>
var picons = $dumps($picons);
var reloadTimers = false;
\$(".bq").click(function() {
	var id = \$(this).attr("js:ref");
	\$("#tvcontent").html(loadspinner).load('../ajax/multiepg2?reloadtimer=0&bref='+id);
});
\$(".event").click(function() {
	var id = \$(this).attr("js:id");
	var ref = \$(this).attr("js:ref");
	\$("#eventdescription").load('../ajax/event?idev='+id+'&sref='+escape(ref), function() { 
		\$("#eventdescription").show(200).draggable( { handle: ".handle" } );
	});
});
\$(".plus").click(function() {
	var day = \$(this).attr("js:day");
	\$("#tvcontent").html(loadspinner).load('../ajax/multiepg2?reloadtimer=0&bref=${quote($bref)}&day='+day);
});
\$('#editTimerForm').load('../ajax/edittimer');

\$('#TBL1').fixedHeaderTable({ 
	footer: true,
	cloneHeadToFoot: true,
	altClass: 'odd',
	autoShow: true
});

</script>
</body>
</html>
