#from urllib import quote
#from Plugins.Extensions.ModernWebif.local import tstrings
#from json import dumps
#from Plugins.Extensions.ModernWebif.controllers.views.ajax.renderevtblock import renderEvtBlock

<table style="margin:0">
<tr>
#for $slot in range(0,7)
    <td class="plus #if $slot==$day then 'selected' else '' #" js:day="$(slot)">$tstrings[("day_" + (time.strftime("%w", time.localtime(time.time()+86400*slot))))]</td>
#end for
</tr>
</table>

<table>
<tr>
#for $bq in $bouquets
<td class="bq #if $bq[0]==$bref then 'selected' else '' #" js:ref="$quote($bq[0])">$bq[1]</td>
#end for
</tr>
</table>

#set $renderEventBlock = $renderEvtBlock()
<table cellpadding="0" cellspacing="0" id="TBL1">
#block channelsInBouquet
<thead>
<tr>
	#for $sname, $eventlist in $events.iteritems()
	<td class="border"><div class="service"><img src="$(picons[$sname])" /> $sname</div></td>
	#end for
</tr>
</thead>
#end block
<tbody>
	#set hasEvents = False
	#for $slot in range(0,12)
<tr class="$(slot%2 and 'odd' or 'even')">
	#for $sname, $eventlist in $events.iteritems()
<td class="border">
	#for $event in $eventlist[$slot]
		$renderEventBlock.render($event)
		#set hasEvents = True
	#end for
</td>
	#end for
</tr>
	#end for
</tbody>
</table>
<div id="eventdescription"></div>

<script>
var picons = $dumps($picons);
var reloadTimers = false;
\$(".bq").click(function() {
    var id = \$(this).attr("js:ref");
    \$("#tvcontent").html(loadspinner).load('ajax/multiepg?bref='+id);
});
\$(".event").click(function() {
    var id = \$(this).attr("js:id");
    var ref = \$(this).attr("js:ref");
    \$("#eventdescription").load('ajax/event?idev='+id+'&sref='+escape(ref), function() { 
		\$("#eventdescription").show(200).draggable( { handle: ".handle" } );
    });
});
\$(".plus").click(function() {
	var day = \$(this).attr("js:day");
	\$("#tvcontent").html(loadspinner).load('ajax/multiepg?bref=${quote($bref)}&day='+day);
});
if(!timeredit_initialized)
	\$('#editTimerForm').load('/ajax/edittimer');
</script>
<script type="text/javascript" src="js/jquery.fixedheadertable.min.js"></script>

<script>
\$(function() { 
\$('#TBL1').fixedHeaderTable({ 
	footer: true,
	cloneHeadToFoot: true,
	altClass: 'odd',
	autoShow: true
});
});
</script>

