#from Plugins.Extensions.ModernWebif.local import tstrings
<div id="content_main"><div id="tvcontentmain"><div id="toolbar-header">
<span id="toolbar">
<ul id="tvbutton">
<li id="btn1" class="active">$tstrings['bouquets']</li>
<li id="btn2">$tstrings['providers']</li>
<li id="btn3">$tstrings['satellites']</li>
<li id="btn4">$tstrings['all_channels']</li>
</ul></span>
</div><div id="tvcontent"></div></div></div>
<script type="text/javascript">
#raw
$(function() {
	InitBouquets(false);
	if(!timeredit_initialized)
		$('#editTimerForm').load('ajax/edittimer');
});
#end raw
</script>
