#filter WebSafe
#from urllib import quote
#from Plugins.Extensions.ModernWebif.local import tstrings
<div id="content_main" style="min-height: 500px;">
	<div id="tvcontentmain">
		<div id="toolbar-header">
				<ul id="timerbuttons">
					<li id="timerbutton0" onclick="addTimer(); return false">$tstrings['add_timer']</li>
					<li id="timerbutton1" onclick="cleanupTimer(); return false">$tstrings['cleanup_timer']</li>
					<li id="timerbutton2" onclick="lastcontenturl='';load_maincontent('ajax/timers'); return false;">$tstrings['refresh_timer']</li>
				</ul>
		</div>

		<div id="timers">
		#for $timer in $timers
			<div class="tm_row" id="$timer.begin-$timer.end">
				<div class="tm_text">
					<div>
						<div class="title">
              #if $timer.state == 0
								<i class="fa fa-pause"></i>
							#elif $timer.state == 2
								<i class="fa fa-circle blink"></i>
							#elif $timer.state == 3
								<i class="fa fa-check"></i>
							#end if
							 &nbsp; $timer.name
						</div>
						$timer.realbegin - $timer.realend
						#if $timer.repeated != 0
							<div class="datetime">
								$tstrings['every_timer']
							#set $flags=$timer.repeated
							#set $timerDays=[]
							#for $day in [$tstrings['monday'],$tstrings['tuesday'],$tstrings['wednesday'],$tstrings['thursday'],$tstrings['friday'],$tstrings['saturday'],$tstrings['sunday']]
								#if $flags&1
									$timerDays.append($day)
								#end if
								#set $flags = $flags >> 1
							#end for
							#echo ', '.join($timerDays)
							</div>
						#end if
						<div class="channel">
							$timer.servicename
						</div>
					</div>
					<div>
						$timer.description
					</div>
				</div>
				<div class="tm_buttons">
						<div>
						#set $sref=quote($timer.serviceref, safe=' ~@#$&()*!+=:;,.?/\'')
						#set $tname=quote($timer.name)
						<a href='#' onClick="editTimer('$sref', '$timer.begin', '$timer.end');" title="$tstrings['edit_timer']"><i class="fa fa-pencil"></i></a>
						<a href='#' onClick="deleteTimer('$sref', '$timer.begin', '$timer.end', '$tname');" title="$tstrings['delete_timer']"><i class="fa fa-times"></i></a>
						<a href='#' onClick="toggleTimerStatus('$sref', '$timer.begin', '$timer.end');" 
						#if $timer.disabled
						title="$tstrings['enable_timer']"><div id="img-$timer.begin-$timer.end" class="fa fa-check disable">
						#else
						title="$tstrings['disable_timer']"><div id="img-$timer.begin-$timer.end" class="fa fa-check">
						#end if
						</div></a>
						</div>
					</div>
				<div style="clear: both;"></div>
			</div>
		#end for
		</div>
	</div>
</div>
<script type="text/javascript">
#raw
var reloadTimers = true;
$(function() {
   if(!timeredit_initialized)
		$('#editTimerForm').load('ajax/edittimer');
});
#end raw
</script>
#end filter
