#from Plugins.Extensions.ModernWebif.local import tstrings
<div id="content_main"><div id="tvcontentmain"><div id="toolbar-header">
<div id="toolbar"><ul id="tvbutton">
<li id="btn0">$tstrings['current']</li>
<li id="btn1" class="active">$tstrings['bouquets']</li>
<li id="btn2">$tstrings['providers']</li>
<li id="btn3">$tstrings['satellites']</li>
<li id="btn4">$tstrings['all_channels']</li>
<li id="btn5">$tstrings['epg']</li>
</ul></div>
</div><div id="tvcontent"></div></div></div>
<script type="text/javascript">
\$(function() { InitBouquets(true);});
</script>
